:root {
    --game-button-size: 6rem;
}


html, body, #root, .App {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overscroll-behavior: none;
}
* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    font-size: 1.5rem;
}
.menu {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 0.5rem;
}
nav {
    flex-basis: 100vh;
    height: 0%;
    overflow: hidden;
    width: 100vw;
    background-color: white;
    transition: all 0.3s ease-in-out;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav.closed {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
nav.open {
    height: 100vh;
}

.page-home {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-basis: 90vh;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    padding: 0.25rem;
    height: 90vh;
}

.game-button {
    margin: 0.5rem;
    flex-basis: var(--game-button-size);
    width: var(--game-button-size);
    height: 8rem;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.game-button > a {
    flex-grow: 1;
}
.game-button .game-button-icon {
    width: var(--game-button-size);
    height: var(--game-button-size);
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 1rem;
    background-color: white;
}
.game-button-text {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.game-title {
    width: 100%;
    text-align: center;
}
.game-app:has(.zip-grid) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.zip-grid {
    display: grid;
}
.zip-cell {
    border: 1px solid #EEE;
    aspect-ratio: 1 / 1;
    width: 3rem;
    height: 3rem;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.zip-cell > :not(div) {
    background-color: lightgray;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

/* Remove background for visited, use lines instead */
.zip-cell.visited {
    background-color: transparent;
}

.visitedFilling {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: #00F;
    border-radius: 50%;
    z-index: 2;
}

.line-up, .line-down, .line-left, .line-right {
    position: absolute;
    background: #00F;
    z-index: 1;
}
.line-up {
    left: 25%;
    top: 0;
    width: 50%;
    height: 50%;
    border-radius: 2px;
}
.line-down {
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 50%;
    border-radius: 2px;
}
.line-left {
    top: 25%;
    left: 0;
    height: 50%;
    width: 50%;
    border-radius: 2px;
}
.line-right {
    top: 25%;
    right: 0;
    height: 50%;
    width: 50%;
    border-radius: 2px;
}

/* All Pages */
[class^="page"] {
}