:root {
    --game-button-size: 6rem;
}


html, body, #root, .App {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overscroll-behavior: none;
}
* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    font-size: 1.5rem;
}
.menu {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 0.5rem;
}
nav {
    flex-basis: 100vh;
    height: 0%;
    overflow: hidden;
    width: 100vw;
    background-color: white;
    transition: all 0.3s ease-in-out;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav.closed {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
nav.open {
    height: 100vh;
}

.page-home {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-basis: 90vh;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    padding: 0.25rem;
    height: 90vh;
}

.game-button {
    margin: 0.5rem;
    flex-basis: var(--game-button-size);
    width: var(--game-button-size);
    height: 8rem;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.game-button > a {
    flex-grow: 1;
}
.game-button .game-button-icon {
    width: var(--game-button-size);
    height: var(--game-button-size);
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 1rem;
    background-color: white;
}
.game-button-text {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* All Pages */
[class^="page"] {
}